In [2]:
import pandas as pd
import numpy as np

from sklearn import datasets
import pandas as pd

iris = datasets.load_iris()
x = pd.DataFrame(iris['data'], columns=iris['feature_names'])
y = pd.DataFrame(iris['target'], columns=['target_names'])
data = pd.concat([x,y], axis=1)
data.groupby(by='target_names').mean()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
target_names,,,,
0,5.006,3.418,1.464,0.244
1,5.936,2.770,4.260,1.326
2,6.588,2.974,5.552,2.026